### PROJECT SETTINGS
PROJECT_NAME=cf7vk
PROJECT_BASE_URL=cf7vk.local
WP_TITLE="Local CF7 VK Site"
WP_ADMIN=admin
WP_ADMIN_PASS=admin
WP_ADMIN_EMAIL=box@example.com

BETAS_PROJECT_URL=cf7vk.betas
BETAS_WP_TITLE="Local CF7 VK Betas"

DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=wordpress
DB_ROOT_PASSWORD=password
DB_HOST=mysql

XDEBUG_PORT=9018
XDEBUG_MODE=debug
XDEBUG_IDE_KEY=PHPSTORM
XDEBUG_IDE_CONFIG=serverName=cf7vk.local
EXTENSIONS_DISABLE=""

PHP_TAG=8
NODE_VERSION=18

COLOR_OFF='\033[0m'
RRED='\033[0;31m'
